*{
    box-sizing: border-box;
}


body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}


img {
    width: 100%;
}

.wrapper {

}

/* Header

Update background color to #000.
Change font color to #fff. */

header {
    color: #fff;
    background-color: #000;
}
/* Place all content within header in a wrapper that has a max-width of 940px and center in the middle of the page. This will be a task that is repeated for each section so creating a wrapper class would be ideal. */
.wrapper {
    max-width: 940px;
    margin: auto;
    align-self: center;
}

/*Adjust name to be on the left and the main navigation to display on the right using flexbox.*/

header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

/* Change the navigation items to line up beside one another. */

.wrapper span {
    line-height: 3.4;
}

ul {
    display: flex;
   align-content: flex-end;
   
}
li {
    display: flex;
   align-content: flex-end;
    padding-left: 1em;
    justify-content: space-between;
    a:visited { text-decoration: none; color:white; }
    a:hover { text-decoration: none; color:white; }
    a:hover, a:active { text-decoration: none; color:none; }
    /* making sure the is no underline for the list */
    a:link { 
        text-decoration: none; 
      } 
      a:visited { 
        text-decoration: none; 
      } 
      a:hover { 
        text-decoration: none; 
      } 
      a:active { 
        text-decoration: none; 
      }
}
/* Add space in between each navigation link.
Align the name and navigation.  
-------------------------------------------*/

/* Hero section

Set the height of the section to 600px.
Add a background image to the section and adjust properties so that it covers the entire area and the focal point is in the center of the image.
Apply a grayscale filter of 70%. */

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-image: url(../images/hands-typing.jpg);
    background-position: center center;
    background-size: cover;
    filter: grayscale(70%);
}
    /* 
    Set your h1 text to have a max-width of 60%.
    Add a black background color to your h1 text using rgba so that the opacity of the color is set to 50%.
    Apply a text shadow to the white h1 text to separate it from the background a bit more. 
    Use flexbox properties to center the text both horizontally and vertically in the middle of the hero section. */

#hero h1 {
    
    font-size: 46pt;
    padding: 10px 120px;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 5px 5px 10px black; 
}
/*------------------------------------------------
Services section
Place all content within this section in a wrapper that has a max-width of 940px and center in the middle of the page.
Set the section background color to #fafafa.
Set a max width on the heading and align the text in the center. */

#services {
    
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
}

#services h2 {
    max-width: 400px;
    line-height: 1.4;
    font-size: 20pt;
    margin-left: auto;
    margin-right: auto;
}

/* Use grid to create a three column grid where all columns are evenly distributed.
Add a gap in between each column.

Apply flexbox to the article and change the direction to be column. By applying flexbox you now have additional properties available to you. */

#services .article-list{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    column-gap: 10px;

}

.btn {
    display: flex;
    flex-direction: column;
    color: red;
    justify-content: end;
    align-items: flex-end;
}

#services article {

    display: flex;
    flex-direction: column;
    max-height: 300px;
  }

.article-list article:nth-child(1){
    color: green;
}

.article-list article:nth-child(2){
    color: green;
}

.article-list article:nth-child(3){
    color: green;
}


/* #service-1 {

    /display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; 


    display: flex;
    flex-direction: row;
} */

/*----------------------------------------
My Work section
Place all content within this section in a wrapper that has a max-width of 940px and center in the middle of the page.*/
.workdes {
    display: grid;
    max-width: 940px;
    text-align: center;
    align-items: center;
    justify-content: center;
    object-position: center;
}
/* Set a max width on the heading and introduction text for the section and align the text in the center.*/
/* .work-wrapper h2, .work-wrapper p {
    display: flex;
    margin: auto;
    max-width: 70%;
    color: red;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    object-position: center;
    
} */

/*Place all images in that section in a grid using grid areas. */

.work-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    padding-bottom: 30px;
}

.work-images img:nth-child(1) {

    grid-row: 1 ;
    grid-column: 1 / 4 ;
} 

.work-images img:nth-child(2) {
    
    grid-row: 1 ;
    grid-column: 4 / 7 ;
    }

.work-images img:nth-child(3) {
    
    grid-row: 2 ;
    grid-column: 1 / 3 ;
    }

.work-images img:nth-child(4) {
    
    grid-row: 2 ;
    grid-column: 3 / 5 ;
    }

.work-images img:nth-child(5) {
  
    grid-row: 2 ;
    grid-column: 5 / 7 ;
    }

/*---------------------------------------
Footer
  Apply a black background and change text to display as white.
  Align text in the middle.*/

  .foot-wrapper {
    color: white;
    background-color: black;
    background-size: 100%;
    text-align: middle;
    text-align: center;
    line-height: 2.0;
    padding-top: 5px;
    
  }
